DATABASE_URL=sqlite:///./codeyar.db
JWT_SECRET=change-me

# RapidAPI Judge0 MVP
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=
JUDGE0_RAPIDAPI_HOST=judge0-ce.p.rapidapi.com
JUDGE0_USE_RAPIDAPI=true

# Self-hosted Judge0 example
# JUDGE0_API_URL=http://localhost:2358
# JUDGE0_API_KEY=
# JUDGE0_USE_RAPIDAPI=false
